<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="Servo/Conf/ServiceName" value="ServoCSService" />
    <add key="Servo/Conf/DisplayName" value="ServoCS Service" />
    <add key="Servo/Conf/Description" value="ServoCS Service" />
    <!-- System.ServiceProcess.ServiceStartMode -->
    <add key="Servo/Conf/ServiceStartMode" value="Automatic" />
    <!-- csv -->
    <add key="Servo/Conf/ServicesDependedOn" value=",," />
    <!-- bool -->
    <add key="Servo/Conf/DelayedAutoStart" value="true" />
    <add key="Servo/Conf/RunInService" value="false" />
    <add key="Servo/Conf/CanHandlePowerEvent" value="false" />
    <add key="Servo/Conf/CanHandleSessionChangeEvent" value="false" />
    <add key="Servo/Conf/CanPauseAndContinue" value="false" />
    <add key="Servo/Conf/CanShutdown" value="false" />
    <add key="Servo/Conf/CanStop" value="true" />
    <add key="Servo/Conf/AutoLog" value="true" />
    <!-- timeout in seconds-->
    <add key="Servo/Conf/StartTimeout" value="60" />
    <add key="Servo/Conf/StopTimeout" value="60" />
  </appSettings>
</configuration>